extends layouts/_layout.pug

block variables
    - var activePage = 'view-placements'
    - var activeGroup = 'placements'

block title
    title View Placements- CareerPad

block content
    .app-title
        div
            h1
                i.fa.fa-edit
                |  View Placements
            p View placements of REVA Careerpad

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                | Placements
            li.breadcrumb-item
                a(href="/viewPlacement") View Placements
    .container.placement__profile
        .row
            .col
                img.placement__profile--img(src="/"+placement.placementPicture alt='Placement Picture')
            .col
                h1.placement__profile--title #{placement.placementTitle}
                h2 Placement Details 
                p.placement__profile--description #{placement.placementDetails}
                h2 Placement Eligible Branches
                p.placement__profile--eligibility #{placement.placementEligibility}
                h2 Placement Posted On
                p.placement__profile--posted #{placement.placementPosted}
                h2 Placement Application Deadline
                p.placement__profile--deadline #{placement.placementDeadline}
                a.btn.btn-primary.btn-lg.placement__profile--button(href='/applyPlacement/'+placement._id) Edit
                a.btn.btn-primary.btn-lg(href="/viewPlacement") Go Back
   
    h1 Registered Students
    .row
        .col-md-12
            .tile
                .tile-body
                    table.table.table-hover.table-bordered#sampleTable
                        thead
                            tr
                                th Name
                                th Department
                                th Email
                                th Contact
                                th DOB
                                th Address
                        each user in users
                            tr    
                                td=user.firstName
                                each val in user.Resume    
                                    td=val.Degree
                                td=user.email
                                td=user.Contact
                                td=user.DOB
                                td=user.Address
                                    

block specific-js
    // Data table plugin
    script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
    script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
    script(type='text/javascript').
        $('#sampleTable').DataTable();
